/****** GENERAL  ***********/

header,
#search_section {
text-align: center; 
}

main {
    width: 90%;
}

main {
    margin: 0 auto;
}



/*  HEADER   */

body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

header {
    background-color: rgb(0, 0, 0);
    color: #fff;
    
}

h1 {
    margin: 0;
    padding: 22px 0;
}


/****** SEARCH SECTION  ***********/
#search_section label,
#search_section input {
    margin: 20px auto 10px;
    padding: 5px;
}

#search_section {
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid rgb(146, 146, 146);
}

#search_section label {
    font-size: 1.3rem;
}

#search_section input {
    width: 50%;
    border: 3px solid #000;
    margin-bottom: 20px;
}

/****** PHOTO GALLERY  ***********/

#photo_gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

#photo_gallery img {
    margin-top: 15px;
    margin-bottom: 15px;
    flex-basis: 40%;
}